@font-face {
    font-family: 'SansSerif';
    src: url('./assets/fonts/sanserif.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Serif';
    src: url('./assets/fonts/serif.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
  --primary-color: #d3d0ca;
  --secondary-color: #bdbc95;
  --accent: #013b47;
  --light-grey: rgb(239, 239, 239);
  --transparent-light-grey: rgba(239, 239, 239, 0.85);
  --section-background-color: #f8f9fa;
  --text-color: #000000;
  --border-color: #000000;
  --serif: 'Serif', serif;
  --sans-serif: 'SansSerif', sans-serif;
}

@keyframes fadeIn {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-family: var(--serif);
  color: var(--accent);
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 5rem;
  }
}

body {
  background-color: var(--section-background-color);
  font-family: var(--sans-serif);
  letter-spacing: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  padding: 0.75em 1.5em;
  background-color: var(--accent);
  border: 1px solid var(--secondary-color);
  font-family: var(--sans-serif);
  font-size: 1.25rem;
  letter-spacing: .2em;
  text-decoration: none;
  color: var(--secondary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--light-grey);
  padding: 24px;
  color: var(--text-color);
  z-index: 100;
  transition: background-color 0.3s ease;
  animation: fadeIn 1.5s ease;
}

body:has(#home) .header {
  background-color: transparent;
}

.header.scrolledPastHero,
body:has(#home) .header.scrolledPastHero {
  background-color: var(--transparent-light-grey);
}

@media screen and (min-width: 768px) {
  .header {
    align-items: center;
    padding: 32px;
  }
}

.header .logo {
  width: 100px;
}

.header .mobileMenu .logo {
  width: 150px;
}

@media screen and (min-width: 501px) {
  .header .logo {
    width: 150px;
  }
}

.nav.desktop,
.socials.desktop {
  display: none;
}

.nav {
  gap: 1.8rem;
}

/* desktop and mobile a styles */
.nav a {
  color: var(--text-color);
  font-size: 1.2rem;
  text-decoration: none;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socials a {
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .nav.desktop,
  .socials.desktop {
    display: flex;
  }
}

.mobileMenu {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(7px); /* blur everything behind the menu */
  -webkit-backdrop-filter: blur(7px); /* for Safari support */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

@media screen and (min-width: 768px) {
  .mobileMenu {
    display: none;
  }
}

.mobileMenu.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.mobileMenu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  
}

/* mobile menu toggle styles */
.mobileMenuToggle {
  position: relative;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}

@media screen and (min-width: 501px) {
  .mobileMenuToggle {
    padding-top: 12px;
  }
}

.mobileMenuToggle > span {
  position: relative;
  display: block;
} 

.mobileMenuToggle > span,
.mobileMenuToggle > span:after, 
.mobileMenuToggle > span:before {
    width: 100%;
    height: 2px;
    background-color: var(--accent);
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

.mobileMenuToggle > span:after,
.mobileMenuToggle > span:before {
    content: "";
    position: absolute;
    left: 0;
}

.mobileMenuToggle > span:before {
  top: -8px;
}
  
.mobileMenuToggle > span:after {
  top: 8px;
}

/* these need to be when input box is checked */
.mobileMenuToggle.open > span {
    background-color: transparent;
}
.mobileMenuToggle.open > span:before {
  transform: rotate(45deg) translate(6px, 6px);
}

.mobileMenuToggle.open > span:after {
  transform: rotate(-45deg) translate(6px, -5px);
}

@media screen and (min-width: 768px) {
  .mobileMenuToggle {
    display: none;
  }
}

/* end mobile menu styles */

/* add top margin to main content on other pages except home */
body:not(:has(#home)) main {
  margin-top: var(--header-height, 0px); /* fallback 0 if not set */
}

/* general section styles */
section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 64px 0;
}

@media screen and (min-width: 768px) {
  section {
    gap: 3rem;
    padding: 128px 0;
  }
}

.hero {
  position: relative;
  min-height: 100dvh;
  animation: fadeIn 1.5s ease;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./assets/images/el-cielo-interior-14.jpg') center/cover no-repeat;
  opacity: 0.25;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 32px;
  z-index: 1;
}

.hero-text {
  color: var(--accent);
  text-align: center;
  font-size: 2.25rem;
  line-height: 1.25em;
  font-family: var(--serif);
}

/* make each line of hero text a separate block element */
.hero-text span {
  display: block;
  margin-bottom: 0.15em;
}

@media screen and (min-width: 768px) {
  .hero-content {
    gap: 4rem;
  }
  .hero-text {
    font-size: 3rem;
  }
}

/* story section */
.story {
  color: var(--accent);
  padding-bottom: 0;
}

.story > p {
  display: block;
  font-family: var(--serif);
  font-size: 2.25rem;
  line-height: 1.2em;
  text-align: center;
  padding: 0 24px;
}

.story > p > span {
  white-space: nowrap;
}

.story > p::after {
  content: "";
  display: block;
  background: black;
  height: 100px;
  width: 1px;
  margin: auto;
  margin-top: 3rem;
}

/* definition section */
.definition {
  overflow-x: hidden;
  padding-top: 128px;
}

.definition > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--serif);
  color: var(--accent);
  font-size: 1.5rem;
  line-height: 1.2em;
  text-align: center;
  padding: 0 24px;
}

.definition .large {
  font-size: 1.75em;
  line-height: 1.2em;
}

.definition::before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  height: 100px;
  width: 1px;
  background: black;
}

.definition img {
  position: absolute;
  width: 300px;
}

.definition img.float-right {
  right: -120px;
  top: 0;
  z-index: -1;
}
.definition img.float-left {
  left: -50px;
  bottom: 0;
  padding-bottom: 90px;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .story > p {
    font-size: 3.25rem;
  }
  .definition > p {
    font-size: 2.25rem;
    padding-top: 32px;
    gap: .5em;
  }
  .definition .large {
    font-size: 1.75em;
  }
  .definition img.float-right {
    right: 0;
    top: 0;
    padding-top: 64px;
    z-index: -1;
  }
  .definition img.float-left {
    left: 0;
    bottom: 0;
    padding-bottom: 220px;
    z-index: -1;
  }
}

.twoCol {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.heading {
  position: relative;
  padding: 0 32px;
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.heading::after {
  content: '';
  display: block;
  height: 1px;
  width: 300px;
  background-color: var(--border-color);
}

.twoCol .heading {
  padding: 0;
  display: block;
}

.twoCol .heading::after {
  display: none;
}

.twoCol h2 {
  text-align: left;
  margin-bottom: -8px;
  margin-left: 24px;
  position: inherit;
  z-index: 1;
}

.twoCol .content p {
  text-align: left;
}

.content {
  padding: 0 32px;
}

.content p {
  margin-bottom: 1.5rem;
  line-height: 1.8em;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .twoCol {
    grid-template-columns: 1fr 1fr;
  }
  .heading{
    gap: 4rem;
  }
  .content {
    padding: 0 48px;
  }
  .twoCol h2 {
    margin-left: 32px;
  }
  .masa.twoCol .heading {
    order: 2;
  }
  .content {
    max-width: 80vw;
  }
  .content p {
    text-align: center;
  }
}

.menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.menu-images {
  padding-bottom: 0;
  padding-top: 0;
}
.menu-images-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu-images-container img {
  flex: 1 1 0;
  min-width: 250px;
}

.footer {
  padding: 64px 32px;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  text-align: center;
  font-size: .9rem;
}

.footer .logo {
  width: 125px;
}

.footer span {
  display: inline-block;
  white-space: nowrap;
}

.hours {
  white-space: nowrap;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.contact a {
  color: var(--text-color);
  text-decoration: none;
} 

.copyright, .credit {
  font-size: 0.75rem;
  letter-spacing: .15em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0.65em;
}

.reveal {
  opacity: 0;
  transition: opacity 350ms ease;
}

.reveal.revealed {
  opacity: 1;
}