@font-face {
    font-family: 'SansSerif';
    src: url('/public/fonts/sanserif.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Serif';
    src: url('/public/fonts/serif.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
  --primary-color: #d3d0ca;
  --secondary-color: #bdbc95;
  --accent: #013b47;
  --light-grey: #efefef;
  --section-background-color: #f8f9fa;
  --text-color: #000000;
  --border-color: #000000;
  --serif: 'Serif', serif;
  --sans-serif: 'SansSerif', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-family: var(--serif);
  color: var(--accent);
  font-size: 5rem;
  font-weight: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--section-background-color);
  font-family: var(--sans-serif);
  letter-spacing: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  padding: 0.75em 1.5em;
  background-color: var(--accent);
  border: 1px solid var(--secondary-color);
  font-family: var(--sans-serif);
  font-size: 1.25rem;
  letter-spacing: .2em;
  text-decoration: none;
  color: var(--secondary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-grey);
  padding: 32px;
  color: var(--text-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

body:has(#home) .header {
  background-color: transparent;
}

.nav {
  display: flex;
  gap: 1.8rem;
}

.nav a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1.2rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: .75rem;
  
}

.socials a {
  color: var(--text-color);
  transition: color 0.3s ease;
}

.header .logo {
  width: 150px;
}

@media screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
}

.mobileMenu {
  position: fixed;
  top: 0; /* fallback 0 if not set */
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  z-index: 0;
  transition: all 0.3s ease-out;
}

@media screen and (min-width: 768px) {
  .mobileMenu {
    display: none;
  }
}

.mobileMenuToggle.open + .mobileMenu {
  opacity: 1;
  z-index: 99;
}

.mobileMenu nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  
}

/* mobile menu toggle styles */
.mobileMenuToggle {
  position: relative;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  width: 28px;
  height: 28px;
  cursor: pointer;
  z-index: 100;
}

.mobileMenuToggle > span {
  position: relative;
  display: block;
} 

.mobileMenuToggle > span,
.mobileMenuToggle > span:after, 
.mobileMenuToggle > span:before {
    width: 100%;
    height: 2px;
    background-color: var(--accent);
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

.mobileMenuToggle > span:after,
.mobileMenuToggle > span:before {
    content: "";
    position: absolute;
    left: 0;
}

.mobileMenuToggle > span:before {
  top: -8px;
}
  
.mobileMenuToggle > span:after {
  top: 8px;
}

/* these need to be when input box is checked */
.mobileMenuToggle.open > span {
    background-color: transparent;
}
.mobileMenuToggle.open > span:before {
  transform: rotate(45deg) translate(6px, 6px);
}

.mobileMenuToggle.open > span:after {
  transform: rotate(-45deg) translate(6px, -5px);
}

@media screen and (min-width: 768px) {
  .mobileMenuToggle {
    display: none;
  }
}

/* end mobile menu styles */

body:not(:has(#home)) main {
  margin-top: var(--header-height, 0px); /* fallback 0 if not set */
}

.hero {
  position: relative;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/public/images/el-cielo-interior-14.jpg') center/cover no-repeat;
  opacity: 0.25;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 32px;
  z-index: 1;
}

.hero-text {
  color: var(--accent);
  text-align: center;
  font-size: 3rem;
  font-family: var(--serif);
}

.hero-text span {
  display: block;
  margin-bottom: 0.45em;
}

.story {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  font-family: var(--serif);
  font-size: 2.75rem;
  color: var(--accent);
  padding-top: 128px;
  padding-bottom: 128px;
}

.story > span {
  display: block;
  text-align: center;
}

.story-divider {
  border-left: 1px solid var(--border-color);
  height: 100px;
}


.story span:nth-last-child(2) {
  padding-bottom: 3rem;
}

.story .story-divider:last-child {
  position: absolute;
  bottom: 0;
}

.definition {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--serif);
  color: var(--accent);
  padding-top: 128px;
  padding-bottom: 256px;
  text-align: center;
}

.definition > p {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2.25rem;
}

.definition > p > span {
  display: block;
}

.definition .large {
  font-size: 1.75em;
}

.definition .story-divider {
  position: absolute;
  top: 0;
}

.definition img {
  position: absolute;
  width: 300px;
}

.definition img.float-right {
  right: 0;
  top: 0;
  padding-top: 64px;
  z-index: -1;
}
.definition img.float-left {
  left: 0;
  bottom: 0;
  padding-bottom: 220px;
  z-index: -1;
}

#about section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 128px;
  gap: 4rem;
}

#about section.twoCol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0;
}

#about .heading {
  position: relative;
}

#about section.twoCol h2 {
  margin-bottom: -16px;
  margin-left: 32px;
  position: inherit;
  z-index: 1;
}

.about-divider {
  display: block;
  width: 300px;
  border-bottom: 1px solid var(--border-color);
}

#about .content {
  padding: 0 48px;
}

#about .content p {
  margin-bottom: 1.5rem;
  line-height: 1.8em;
}

@media screen and (min-width: 768px) {
  .masa.twoCol .heading {
    order: 2;
  }
}


#about .community .heading,
#about .looking-forward .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

#about .community .content,
#about .looking-forward .content {
  max-width: 80vw;
  text-align: center;
}

.menu {
  min-height: 60svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 128px;
  padding-bottom: 128px;
}

.menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  
}

.menu-links button {
  font-family: var(--sans-serif);
  font-size: 1.25rem;
  color: var(--accent);
  background: none;
  border: none;
  cursor: pointer;
}

.menu-images {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu-images img {
  flex: 1 1 0;
  min-width: 250px;
}

.footer {
  padding: 64px 32px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  text-align: center;
  font-size: .9rem;
}

.footer .logo {
  width: 150px;
}

.footer span {
  display: inline-block;
  white-space: nowrap;
}

.hours {
  white-space: nowrap;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.contact a {
  color: var(--text-color);
  text-decoration: none;
} 

.copyright, .credit {
  font-size: 0.75rem;
  letter-spacing: .15em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0.65em;
}